[project]
	description = Perl translator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sijver
[access "refs/for/refs/*"]
	read = group user/sijver
	push = group user/sijver
	label-Code-Review = -2..+2 group user/sijver
	label-Verified = -1..+1 group user/sijver
	rebase = group user/sijver
	removeReviewer = group user/sijver
	submit = group user/sijver
[access "refs/heads/*"]
	read = group user/sijver
	create = group user/sijver
	push = +force group user/sijver
	pushMerge = group user/sijver
[access "refs/tags/*"]
	push = +force group user/sijver
	pushTag = group user/sijver
	pushSignedTag = group user/sijver
